/*
.row{
    border-color: blue;
    border-style: solid;

}

.col-4{
    border-color: blue;
    border-style: solid;
    
}
.col-6{
    border-color: blue;
    border-style: solid;

}
*/
.btn{
    margin-top: 50px;
}
.card{
    font-size: 100px;
    font-family: 'Anton', sans-serif;
}
#title{
    font-family: 'Metal Mania', cursive;
}

#twentyOne{
   display:none;
   font-size: 1.5em;
}

#draw1{
    font-size: x-large;
    font-family: 'Anton', sans-serif;
}
.busted{
    font-family: 'Metal Mania', cursive;
    font-size: 4em;
    color: red; 
}

.stop{
    opacity: 0%;;
}
